// Bootstrap Base Variables
//
// Needs to be imported after theming for correct overwrite
@import '~bootstrap/scss/_variables';


//
// Extended Components and Utilities Variables
//

// Font-Face Map
$font-faces: (
  'Inter': (
    'filename':'filename',
    'fontweight':'400',
    'fontstyle':'normal'
  )
) !default;

//Container
$container-padding-xlg:       $spacer * 4 !default;
$container-padding-xxl:       $spacer * 2.6 !default;
$container-padding-xl:        $spacer * 2 !default;
$container-padding-lg:        $spacer * 1.5 !default;
$container-padding-md:        $spacer !default;
$container-padding-xs:        24px !default;

// Media
$media-transition:               $transition-base !default;
$media-hover-box-shadow:         $box-shadow-lg !default;
$media-hover-border-color:       theme-color("primary") !default;
$media-play-button-bg:           theme-color("primary") !default;
$media-play-button-color:        $white !default;

// Card
$card-teaser-color:              $body-color !default;
$card-teaser-hover-color:        theme-color("primary") !default;
$card-teaser-border-color:       rgba(theme-color("primary"), .2) !default;
$card-teaser-hover-border-color: theme-color("primary") !default;
$card-teaser-transition:         $transition-base !default;
$card-teaser-hover-box-shadow:   $box-shadow-lg !default;
$card-img-overlay-color:         $white !default;
$card-img-overlay-hover-color:   $white !default;
$card-img-overlay-padding:       1.25rem !default;

// Sizes px for .mwpx-*` classes.
$sizespx: (
  100: 100px,
  150: 150px,
  200: 200px,
  250: 250px,
  300: 300px,
  350: 350px,
  400: 400px,
  450: 450px,
  500: 500px,
  550: 550px,
  600: 600px
) !default;

$gray-colors: (
  "gray-100": $gray-100,
  "gray-200": $gray-200,
  "gray-300": $gray-300,
  "gray-400": $gray-400,
  "gray-500": $gray-500,
  "gray-600": $gray-600,
  "gray-700": $gray-700,
  "gray-800": $gray-800,
  "gray-900": $gray-900
) !default;

// Responsive Margin Bottom
$responsive-margin-bottom: (
  xs: map-get($spacers, 2),
  xsm: map-get($spacers, 2),
  sm: map-get($spacers, 3),
  md: map-get($spacers, 3),
  lg: map-get($spacers, 3),
  xl: map-get($spacers, 3),
  xxl: map-get($spacers, 3),
  xlg: map-get($spacers, 3)
) !default;
