// Typography
//
// Font, Paragraphs, Horizontal rules, and more.

//Font Family
$standard-font-name-1: inter-v1-latin-regular;
$standard-font-name-2: inter-v1-latin-700;

@font-face {
  font-family: 'Inter';
  src: url('../../fonts/#{$standard-font-name-1}.eot');
  src: url('../../fonts/#{$standard-font-name-1}.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/#{$standard-font-name-1}.woff2') format('woff2'),
  url('../../fonts/#{$standard-font-name-1}.woff') format('woff'),
  url('../../fonts/#{$standard-font-name-1}.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Inter';
  src: url('../../fonts/#{$standard-font-name-2}.eot');
  src: url('../../fonts/#{$standard-font-name-2}.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/#{$standard-font-name-2}.woff2') format('woff2'),
  url('../../fonts/#{$standard-font-name-2}.woff') format('woff'),
  url('../../fonts/#{$standard-font-name-2}.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}


// Paragraphs
p {

  @include responsive-margin-bottom();
}

// Horizontal rules
hr {
  margin: 0;
  border: 0;
  border-top: $hr-border-width solid $hr-border-color;

  @include responsive-margin-bottom;
}

// Misc
.text-micro {
  font-size: $font-size-xs;
  line-height: $line-height-xs;
}

.text-small {
  font-size: $font-size-sm;
  line-height: $line-height-sm;
}
