// Paragraphs
p {

  @include responsive-margin-bottom();
}

// Horizontal rules
hr {
  margin: 0;
  border: 0;
  border-top: $hr-border-width solid $hr-border-color;

  @include responsive-margin-bottom;
}

// Misc
.text-micro {
  font-size: $font-size-xs;
  line-height: $line-height-xs;
}

.text-small {
  font-size: $font-size-sm;
  line-height: $line-height-sm;
}

@each $color, $value in $gray-colors {
  .text-#{$color} {
    color: $value;
  }
}
