/* Requirements: Functions, Variables, Mixins */
@import "../requirements";

/* Bootstrap Dropdown Base */
@import '~bootstrap/scss/dropdown';

/* Component extensions */
@keyframes slide-up {
  0% {
    margin-top: $dropdown-spacer * 4;
    opacity: 0;
  }

  100% {
    margin-top: $dropdown-spacer;
    opacity: 1;
  }
}

.dropdown-menu {
  margin-top: $dropdown-spacer * 4;
  opacity: 0;
}

.dropdown-menu.show {
  animation: slide-up 0.2s ease-out forwards;
}

